/* Body Styles */
body {
  background-color: #000000;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Navbar Styles */
.navbar {
  background-color: #000000;
  border-color: #000000;
  padding: 50;
  border-radius: 10;
  margin-bottom: 50;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.navbar-nav li {
  margin-right: 30px;
}

.nav-link {
  color: #fff;
}


/* Card Styles */
.card {
  background-color: #000000;
  color: #fff;
  border-color: #000000;
}

.card-header {
  background-color: #000000;
  color: #fff;
  border-color: #000000;
}

.card-body {
  background-color: #000000;
  color: #fff;
}

/* Table Styles */
.table {
  color: #fff;
  border-collapse: separate;
  border-spacing: 0;
}

.table thead th {
  background-color: #ffd903;
  color: #000000;
  border: 1px solid hsl(41, 100%, 51%);
  padding: 12px;
  text-align: left;
}

.table tbody td {
  background-color: #137200; /* Row back ground */
  color: #fff;
  border: 1px solid #ffd903;
  padding: 12px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #ffd903;
}

.table-hover tbody tr:hover {
  background-color: #ffd903;
}

.table-bordered {
  border: 1px solid #ffd903;
}

.table-bordered thead th,
.table-bordered tbody td {
  border: 1px solid #ffd903;
}

/* Button Styles */
.btn-primary {
  background-color: #3d8b3d;
  border-color: #3d8b3d;
}

.btn-primary:hover {
  background-color: #3d8b3d;
  border-color: #3d8b3d;
}

.btn-primary:focus {
  background-color: #3d8b3d;
  border-color: #3d8b3d;
  box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.5);
}

.btn-primary:active {
  background-color: #3d8b3d;
  border-color: #3d8b3d;
}

.btn-primary:disabled {
  background-color: #3d8b3d;
  border-color: #3d8b3d;
  opacity: 0.5;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.5);
}

/* Form Styles */
.form-control {
  background-color: #ffbc05;
  color: #fff;
  border-color: #ffd900;
}

.form-control:focus {
  background-color: #1d1f2f;
  color: #fff;
  border-color: #3d8b3d;
  outline: none;
  box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  color: #ccc;
}

.form-control::-moz-placeholder {
  color: #ccc;
}

.form-control:-ms-input-placeholder {
  color: #ccc;
}

.form-control::-ms-input-placeholder {
  color: #ccc;
}

.form-control::placeholder {
  color: #ccc;
}