<!DOCTYPE html>
<html>

<head>
    <title>Temperature and Humidity Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        function updateValue(variable) {
            let newValue = null;
            if (variable == "start_date") {
                if (confirm("Updating start date will also clear the historical data. Are you sure you want to continue?")) {
                    newValue = prompt("Enter the new value for " + variable);
                }
            } else {
                newValue = prompt("Enter the new value for " + variable);
            }
            if (newValue != null) {
                $.ajax({
                    type: 'POST',
                    url: '/update_settings',
                    data: JSON.stringify({ variable: variable, value: newValue }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (response) {
                        alert('Successfully updated ' + variable + ' to ' + newValue);
                    }
                });
            }
        }
    </script>
</head>

<body class="bg-gradient-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h4 class="m-0 font-weight-bold text-primary">Settings</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Variable</th>
                                    <th>Value</th>
                                    <th>Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>How often data should be logged</td>
                                    <td>{{ data.log_interval/60|int }} minutes</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm"
                                            onclick="updateValue('log_interval')">Update</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Time Between rolling Eggs</td>
                                    <td>{{ data.relay_interval /60/60|int }} hours</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm"
                                            onclick="updateValue('relay_interval')">Update</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Egg Roll Time</td>
                                    <td>{{ data.roll_interval/60|int }} minutes</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm"
                                            onclick="updateValue('roll_interval')">Update</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Temperature Threshold</td>
                                    <td>{{ data.temperature_threshold }}F</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm"
                                            onclick="updateValue('temperature_threshold')">Update</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Humidity Threshold</td>
                                    <td>{{ data.humidity_threshold }} %</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm"
                                            onclick="updateValue('humidity_threshold')">Update</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Start Day</td>
                                    <td>{{ data.start_date }}</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm"
                                            onclick="updateValue('start_date')">Update</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h4 class="m-0 font-weight-bold text-primary">Current Data</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Temperature (F)</th>
                                    <th>Temperature Relay Status</th>
                                    <th>Humidity (%)</th>
                                    <th>Humidity Relay Status</th>
                                    <th>Last Egg Turn</th>
                                    <th>Day in Egg Cycle</th>
                                    <th>Lock Down Date</th>
                                    <th>Hatch Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ data.temperature }}</td>
                                    <td>{{ data.temperature_relay_status }}</td>
                                    <td>{{ data.humidity }}</td>
                                    <td>{{ data.humidity_relay_status }}</td>
                                    <td>{{ data.last_relay_on }}</td>
                                    <td>{{ data.day_in_cycle }}</td>
                                    <td>{{ data.lock_down_date }}</td>
                                    <td>{{ data.hatch_date }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                    <h4 class="m-0 font-weight-bold text-primary">Statistical Information</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Day in Egg Cycle</th>
                                <th>Average Temperature (F)</th>
                                <th>Temperature Standard Deviation</th>
                                <th>Average Humidity (%)</th>
                                <th>Humidity Standard Deviation</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in data.egg_cycle_data %}
                            <tr>
                                <td>{{ data["Day in Egg Cycle"] }}</td>
                                <td>{{ data["Average Temperature (F)"] }}</td>
                                <td>{{ data["Temperature Standard Deviation"] }}</td>
                                <td>{{ data["Average Humidity (%)"] }}</td>
                                <td>{{ data["Humidity Standard Deviation"] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h4 class="m-0 font-weight-bold text-primary">Historical Data (Last 48)</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Temperature (F)</th>
                                    <th>Humidity(%)</th>
                                    <th>Temperature Relay Status</th>
                                    <th>Humidity Relay Status</th>
                                    <th>Last Egg Turn</th>
                                    <th>Day in Egg Cycle</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in data.historical_data %}
                                <tr>
                                    <td>{{ data.Time }}</td>
                                    <td>{{ data["Temperature(F)"] }}</td>
                                    <td>{{ data["Humidity(%)"] }}</td>
                                    <td>{{ data["Temperature Relay Status"] }}</td>
                                    <td>{{ data["Humidity Relay Status"] }}</td>
                                    <td>{{ data["Last Egg Turn"] }}</td>
                                    <td>{{ data["Day in Egg Cycle"] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>